.create-project-container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.create-project-container .form-container {
    max-width: 500px;
    flex-grow: 1;
    margin-left: 20px;
}

.create-project-container .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.create-project-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.create-project-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-project-container textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.create-project-container button.create-project-btn {
    background-color: #27ae60;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.create-project-container button.create-project-btn:hover {
    background-color: #2ecc71;
}

.create-project-container button.cancel-btn {
    background-color: #e74c3c;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.create-project-container button.cancel-btn:hover {
    background-color: #c0392b;
}