.cards-container {
    margin-top: 40px;
    width: 92%;
}

.cards-container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cards-container .cards p {
    margin: 5px;
    margin-left: 0px;
}

.cards-container .card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
}

.cards-container .card:hover {
    transform: scale(1.05);
}

.cards-container .card h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: yellow;
}

.cards-container .card p {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}