@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Colors */

  /* Brand Colors */

  /* dark color (gray) */
  --brand-color-dark: #3b3636;

  /* light color (light gray) */
  --brand-color-light: #9c9c9c;

  /* bright blue */
  --brand-color-1: #57c3f5;
  /* bright pink */
  --brand-color-2: #e343c9;
  /* Cream */
  --brand-color-3: #f2dcdc;

  --background-color: linear-gradient(135deg, var(--brand-color-1), var(--brand-color-2));

  --translucent-container-background: rgba(59, 54, 54, 0.484);


  /* Button Colors */
  --green-button-color: #3ca332;
  --green-button-hover-color: #026f09;
  --blue-button-color: #4285F4;
  --blue-button-hover-color: #063a8e;
  --red-button-color: #ff0000;
  --red-button-hover-color: #720202;

  /* Fonts */
  --title-font: 'Roboto', sans-serif;
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --button-font: 'Roboto', sans-serif;
  --input-font: 'Roboto', sans-serif;
  --label-font: 'Roboto', sans-serif;
  --placeholder-font: 'Roboto', sans-serif;
  --error-font: 'Roboto', sans-serif;
  --success-font: 'Roboto', sans-serif;
  --warning-font: 'Roboto', sans-serif;
}

body,
html {
  margin: 0;
  height: 100%;
  color: white;
  font-family: var(--body-font);
  background: white;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--body-font);
}

button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
}

.MuiButtonBase-root {
  text-transform: none !important;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 80px;
}

@media (max-width: 768px) {
  .centered-container {
    transform: scale(0.8);
  }
}