@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
  /* Colors */

  /* Brand Colors */
  --brand-color-1: #57c3f5;
  /* bright blue */
  --brand-color-2: #e343c9;
  /* bright pink */
  --background-color: linear-gradient(135deg, var(--brand-color-1), var(--brand-color-2));

  --translucent-container-background: rgba(59, 54, 54, 0.484);


  /* Button Colors */
  --green-button-color: #3ca332;
  --green-button-hover-color: #026f09;
  --blue-button-color: #4285F4;
  --blue-button-hover-color: #063a8e;
  --red-button-color: #ff0000;
  --red-button-hover-color: #720202;

  /* Fonts */
  --title-font: 'Roboto', sans-serif;
  --header-font: 'Roboto', sans-serif;
  --body-font: 'Roboto', sans-serif;
  --button-font: 'Roboto', sans-serif;
  --input-font: 'Roboto', sans-serif;
  --label-font: 'Roboto', sans-serif;
  --placeholder-font: 'Roboto', sans-serif;
  --error-font: 'Roboto', sans-serif;
  --success-font: 'Roboto', sans-serif;
  --warning-font: 'Roboto', sans-serif;
}

body,
html {
  margin: 0;
  height: 100vh;
  font-family: var(--body-font);
  background: var(--background-color);
  background-size: 200% 200%;
  color: white;
  animation: gradient-animation 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 40% 40%;
  }

  50% {
    background-position: 60% 60%;
  }

  100% {
    background-position: 40% 40%;
  }
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: var(--body-font);
}

button {
  display: inline-block;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
}

.loading-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 80px;
}

@media (max-width: 768px) {
  .centered-container {
    transform: scale(0.8);
  }
}