.register-container .information-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    text-align: center;
    width: fit-content;
    color: white
}

.register-container .forms-container {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    font-family: var(--body-font);
    color: black;
}

.register-container .account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.register-container .company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    /* transform: (0, 0); */
}

.register-container .logo {
    width: fit-content;
    margin: 0px auto;
    height: fit-content;
    border-radius: 20px;
    border: black 1px solid;
    object-fit: cover;
    align-self: center;
}

.register-container h3 {
    font-size: 16px;
    margin: 0px 0px 5px 0px;
}

.register-container .logo img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.register-container form {
    width: 100%;
    text-align: left;
}

.register-container .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.register-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.register-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
}

.register-container button.register-btn {
    background-color: var(--green-button-color);
    color: white;
    padding: 10px 50px;
    border-radius: 5px;
    width: auto;
}

.register-container button.register-btn:hover {
    background-color: var(--green-button-hover-color);
}

.register-container button.back-to-login-btn {
    background-color: var(--red-button-color);
    color: white;
    border-radius: 5px;
    width: auto;
}

.register-container select.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
}

/* Media query for mobile devices */
/* @media (max-width: 768px) {
    .register-container .form-container {
        padding: 10px;
        transform: scale(0.8);
    }

    .register-container input,
    .register-container button.register-btn,
    .register-container button.back-to-login-btn,
    .register-container select.dropdown {
        width: 100%;
        font-size: 14px;
    }

    .register-container button.register-btn,
    .register-container button.back-to-login-btn {
        padding: 10px;
    }
} */