.register-container .centered-container {
    background: var(--background-color);
    background-size: 200% 200%;
    background-attachment: fixed;
    animation: gradient-animation 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite;
}

@keyframes gradient-animation {
    0% {
        background-position: 40% 40%;
    }

    50% {
        background-position: 60% 60%;
    }

    100% {
        background-position: 40% 40%;
    }
}

.register-container .header {
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
    background-color: transparent;
}

.register-container .header h1 {
    margin: 0px;
    font-size: 35px;
}

.register-container .header p {
    margin: 10px 0px 0px 0px;
    font-size: 15px;
}

.register-container .form-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: var(--translucent-container-background);
    padding: 70px;
    border-radius: 20px;
    box-shadow: 10px 10px 16px rgba(0, 0, 0, 0.1);
    min-width: 500px;
    align-items: center;
}

.register-container .input-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 100%;
    margin: 0px 0px 20px 0px;
    text-align: left;
    justify-content: center;
}

.register-container form {
    width: 100%;
}

.register-container .form-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
}

.register-container label {
    margin-bottom: 5px;
    font-weight: bold;
}

.register-container input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
}

.register-container select.dropdown {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: auto;
    font-size: 15px;
}

.register-container h2 {
    margin: 20px 0px 20px 0px;
}

.register-container h3 {
    font-size: 25px !important;
    align-items: center;
    align-content: center;
    margin: 0px 0px 5px 0px;
    width: fit-content;
    text-align: left;
    display: flex;
    justify-content: center;
}

.register-container .logo img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin-top: 20px;
    margin-bottom: 20px;
}

.register-container .trash-btn {
    font-size: 25px;
    color: red;
    background-color: rgba(255, 255, 255, 0.3);
    cursor: pointer;
    padding: 10px;
    border: transparent;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    margin-left: 22px;
    transition: all 0.3s;
}

.register-container .trash-btn:hover {
    color: white;
    background-color: red;
}

.register-container .button-rail {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;
    width: 100%;
}

.register-container .button-rail button {
    color: white;
    border: rgba(255, 255, 255, 0.526) 2px solid;
    height: 60px;
    width: 40%;
    border-radius: 30px;
    font-size: 18px;
    box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.5s ease, border 0.3s ease;
}

.register-container .button-rail button:hover {
    box-shadow: none;
    transform: translate(5px, 5px);
    border: white 4px solid;
    transition: transform 0.3s ease, box-shadow 0.5s ease, border 0.3s ease;
}

.register-container button.register-btn {
    background-color: rgb(33, 198, 33);
}

.register-container button.back-to-login-btn {
    background-color: rgb(49, 49, 242);
}