.sidebar-container {
    display: flex;
    height: 100vh;
    color: white;
}

.sidebar-container .sidebar {
    width: 400px;
    background-color: #a1a1a1;
    color: rgb(217, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    margin-right: 30px;
    border: black 5px solid;
}

.sidebar-container .logo-img {
    align-self: first baseline;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 300px;
    height: auto;
    margin-bottom: 0px;
}

.sidebar-container .nav {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.sidebar-container .nav-item {
    border: none;
    color: rgb(0, 89, 254);
    font-size: 22px;
    padding: 28px !important;
    padding-left: 120px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    transition: font-size 0.2s, color 0.2s;
    margin: 8px 0px;
}

.sidebar-container .nav-item:hover {
    background: none;
    font-size: 24px;
    color: black;
    transition: font-size 0.2s, color 0.2s;
}

.sidebar-container .nav-item.active {
    background: none;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.sidebar-container .back-btn {
    margin: auto 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px rgb(209, 109, 2) solid;
    background-color: rgb(209, 109, 2);
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .back-btn:hover {
    background: #ffffff;
    color: rgb(209, 109, 2);
}

.sidebar-container .settings-btn {
    margin: auto 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px rgb(2, 136, 209) solid;
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .settings-btn.not-top {
    margin-top: 10px;
}

.sidebar-container .settings-btn:hover {
    background: #ffffff;
    color: rgb(2, 136, 209);
}

.sidebar-container .logout-btn {
    margin: 10px 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px #E04343 solid;
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .logout-btn:hover {
    background: #E04343;
    color: white;
}

.sidebar-container .content {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.sidebar-container .user-details-container {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #ffffff;
    margin: 20px 0px;
    width: 94%;
    justify-content: space-evenly;
    text-align: center;
}

.sidebar-container .profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
}

.sidebar-container .user-info, .sidebar-container .manager-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sidebar-container .manager-info {
    border-left: 2px solid #ccc;
}

.sidebar-container .user-info h2, .sidebar-container .manager-info h2{
    margin: 5px 0px;
    font-size: 16px;
    color: #333;
}

.sidebar-container .user-info p, .sidebar-container .manager-info p{
    margin: 3px 0 0 0;
    font-size: 14px;
    color: #505050;
}

.sidebar-container .user-info h3, .sidebar-container .manager-info h3 {
    margin: 0px 0px 2px 0px;
    font-size: 15px;
    color: #828282;
}