.sidebar-container {
    display: flex;
    height: 100vh;
    width: 100vw;
}

.sidebar-container .sidebar {
    width: 350px;
    min-width: 350px;
    background-color: #8f82826f;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 0px 40px 20px 0px;
    margin-right: 50px;
    border-right: rgba(255, 255, 255, 0.225) 5px solid;
}

.sidebar-container .header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 30px 0px 30px 0px;
    gap: 10px;
}

.sidebar-container h1 {
    font-size: 70px;
    margin: auto 0px;
    font-family: var(--title-font);
}

.sidebar-container .logo-img {
    align-self: first baseline;
    width: 110px;
    height: auto;
}

.sidebar-container .company-logo-img {
    align-self: first baseline;
    margin: 20px auto;
    width: auto;
    height: 200px;
}

.sidebar-container .nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0px;
}

.sidebar-container .nav-item {
    display: flex;
    font-weight: 200;
    background: none !important;
    border: none;
    color: rgb(0, 89, 254);
    font-size: 29px;
    padding: 28px !important;
    padding-left: 120px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    transition: font-size 0.2s, color 0.2s;
    margin: 12px 0px;
}

.sidebar-container .nav-item.active,
.sidebar-container .nav-item:hover {
    font-size: calc(1.9 * 1em);
    color: rgb(255, 255, 255);
}

.sidebar-container .nav-item.active {
    font-weight: 800;
    transition: font-weight 0.1s ease-in-out;
}

.sidebar-container .nav-item .MuiSvgIcon-root {
    font-size: calc(1.1 * 1em);
    margin-bottom: 2px;
}


.sidebar-container .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    gap: 12px;
    margin-top: 0px;
    margin-bottom: 7px;
}

.sidebar-container .back-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: 3px var(--brand-color-2) solid;
    background-color: var(--brand-color-2);
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .back-btn:hover {
    background: #ffffff;
    color: var(--brand-color-2);
}

.sidebar-container .settings-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: 3px var(--brand-color-1) solid;
    background-color: var(--brand-color-1);
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .settings-btn:hover {
    background: #ffffff;
    color: var(--brand-color-1);
}

.sidebar-container .logout-btn {
    padding: 10px 20px;
    font-size: 18px;
    border: 3px #E04343 solid;
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
    background-color: rgba(255, 0, 0, 0.135);
}

.sidebar-container .logout-btn:hover {
    background: #E04343;
    color: white;
}

.sidebar-container .content {
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
}

.sidebar-container .user-details-container {
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #63585892;
    width: 95%;
    justify-content: space-evenly;
    text-align: center;
}

.sidebar-container .user-details-container.not-top {
    margin-top: 7px;
}

.sidebar-container .profile-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    justify-content: center;
}

.sidebar-container .user-info,
.sidebar-container .manager-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sidebar-container .user-info h2,
.sidebar-container .manager-info h2 {
    margin: 3px 0px;
    font-size: 20px;
    color: #3e3838;
}

.sidebar-container .user-info p,
.sidebar-container .manager-info p {
    margin: 3px 0 3px 0;
    font-size: 14px;
    color: #c1aaaa;
}

.sidebar-container .user-info h3,
.sidebar-container .manager-info h3 {
    margin: 3px 0px 2px 0px;
    font-size: 18px;
    color: #d0cece;
}

.sidebar-container .manager-info {
    border-left: 2px solid #ccc;
}