.sidebar-container {
    display: flex;
    height: 100vh;
    color: white;
}

.sidebar-container .sidebar {
    width: 350px;
    background-color: #a1a1a1;
    color: rgb(217, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    margin: 10px;
    margin-right: 30px;
    border: black 5px solid;
}

.sidebar-container .logo-img {
    align-self: first baseline;
    margin: auto !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    width: 300px;
    height: auto;
    margin-bottom: 0px;
}

.sidebar-container .nav {
    width: 350px;
    display: flex;
    flex-direction: column;
}

.sidebar-container .nav-item {
    border: none;
    color: rgb(0, 89, 254);
    font-size: 22px;
    padding: 28px !important;
    padding-left: 120px;
    width: 100%;
    cursor: pointer;
    height: 50px;
    transition: font-size 0.2s;
}

.sidebar-container .nav-item:hover {
    background: none;
    font-size: 24px;
    color: black;
    transition: font-size 0.2s;
}

.sidebar-container .nav-item.active {
    background: none;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

.sidebar-container .back-btn {
    margin: auto 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px rgb(209, 109, 2) solid;
    background-color: rgb(209, 109, 2);
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .back-btn:hover {
    background: #ffffff;
    color: rgb(209, 109, 2);
}

.sidebar-container .settings-btn {
    margin: auto 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px rgb(2, 136, 209) solid;
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .settings-btn.not-top {
    margin-top: 10px;
}

.sidebar-container .settings-btn:hover {
    background: #ffffff;
    color: rgb(2, 136, 209);
}

.sidebar-container .logout-btn {
    margin: 10px 5px 5px 5px;
    padding: 10px 20px;
    font-size: 18px;
    border: 3px #E04343 solid;
    border-radius: 13px;
    cursor: pointer;
    width: 95%;
}

.sidebar-container .logout-btn:hover {
    background: #E04343;
    color: white;
}

.sidebar-container .content {
    flex-grow: 1;
    /* padding: 20px; */
    /* display: flex; */
    flex-direction: column;
    align-items: center;
}

.sidebar-container .cards-container {
    margin-top: 40px;
    width: 92%;
}

.sidebar-container .cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.sidebar-container .cards p {
    margin: 5px;
    margin-left: 0px;
}

.sidebar-container .card {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.2s ease-in-out;
}

.sidebar-container .card:hover {
    transform: scale(1.05);
}

.sidebar-container .card h3 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 24px;
    color: yellow;
}

.sidebar-container .card p {
    margin-top: 5px;
    font-size: 20px;
    color: white;
}