.centered-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-color: var(--background-color);
    font-family: 'Arial', sans-serif;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    color:black;
}

button {
    display: inline-block;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    color: white;
    outline: none;
    padding: 12px 24px;
    margin: 20px 0px 0px;
    transition: background-color 0.3s ease;
}

button:hover {
    transition: background-color 0.35s ease;
}

button:focus {
    outline: 5px;
}

input {
    padding: 10px;
    font-size: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 30px;
}

input:focus {
    outline: 5px;
    border-color: #3498db;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* 
span.arrow {
    font-size: 40px;
    margin: 0px 20px;
    padding: 2px 50px 6px;
} */

/* button.forward-arrow-btn {
    margin: 0px 20px;
} */


button.arrow.forward-btn {
    background-color: var(--blue-button-color);
    font-weight: bold;
    padding: 12px 30px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

button.arrow.forward-btn::before {
    content: '→';
    font-size: 40px;
    /* margin-right: 10px; */
    margin: 0px 0px 0px 3px;
    padding: 2px 50px 6px;
}

button.arrow.forward-btn:active {
    /* animation: moveForward 0.5s ease forwards !important; */
    transition: 0.75s cubic-bezier(1, -0.01, 0.58, 1)
}

button.arrow.forward-btn:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    background-color: var(--blue-button-hover-color);
}


/* button.forward-arrow-btn {
    margin-left: 3px;
    transition: transform 0.5s ease !important;
}

button.submit-btn:hover {
    animation: moveBack 0.5s ease forwards !important;
} */

button.arrow.backward-btn {
    background-color: var(--red-button-color);
    font-weight: bold;
    padding: 12px 30px;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
}

button.arrow.backward-btn::before {
    content: '←';
    font-size: 40px;
    /* margin-right: 10px; */
    margin: 0px 0px 0px 3px;
    padding: 2px 50px 6px;
}

button.arrow.backward-btn:active {
    /* animation: moveForward 0.5s ease forwards !important; */
    transition: 0.75s cubic-bezier(1, -0.01, 0.58, 1)
}

button.arrow.backward-btn:hover {
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
    background-color: var(--red-button-hover-color);
}


@keyframes moveBack {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-20px);
    }
}

@keyframes moveForward {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(40px);
    }
}